{{#if user}}
  <article>
    <h2>{{user.username}}</h2>
    <h3>{{user.age}}</h3>
    <h3>This person enjoies</h3>
    {{#each user.hobbies}}
      <h4>{{this}}</h4>
    {{else}}
      <h4>Nvm, this person does not enjoy anything. that is a red flag. Don't date this person. You'll never make them happy</h4>
    {{/each}}
  </article>
{{/if}}
